* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100wh;
}

/* css resets */


.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

/* Header */
.header {
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}

.header .lead {
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  margin: 0;
}
.header .sub {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  margin: 0;
}

.header p {
  display: inline-block;
  max-width: 80%;
  color: hsl(229, 6%, 66%);
  text-align: center;
}

/* Features Section */
.features {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.features h3,
.features p {
  text-align: left;
  max-width: 80%;
}

.features p {
  color: hsl(229, 6%, 66%);
}

.feature__supervisor {
  
  box-shadow: 0 8px 6px -9px hsl(212, 86%, 64%),
    0px 10px 20px 1px hsl(229, 6%, 66%);

  border-top: 4px solid hsl(180, 62%, 55%);
  
 
  
}

.feature__team {
  
  box-shadow: 0 8px 6px -9px hsl(212, 86%, 64%),
    0px 10px 20px 1px hsl(229, 6%, 66%);
  
  border-top: 4px solid hsl(0, 78%, 62%);
 
  margin-bottom: 2rem;
}
.feature__karma {
  
  box-shadow: 0 8px 6px -9px hsl(212, 86%, 64%),
    0px 10px 20px 1px hsl(229, 6%, 66%);
  
  border-top: 4px solid hsl(34, 97%, 64%);
 

}

.feature__calculator {
  
  box-shadow: 0 8px 6px -9px hsl(212, 86%, 64%),
    0px 10px 20px 1px hsl(229, 6%, 66%);
  
  border-top: 4px solid hsl(212, 86%, 64%);
 

}

.image__container img {
  height: 500px;
  width: 250px;
}
img {
  background-size: cover;
}
/* footer */
footer {
  max-width: 80%;
  margin: 0 auto;
}
footer p {
  text-align: center;
  color: hsl(229, 6%, 66%);
}

footer a {
  text-decoration: none;
  font-family: inherit;
  color: hsl(229, 6%, 66%);
}

/* Media Query */


  /* Header */

  .header .lead {
    font-weight: 400;
    font-size: 2rem;
    color: hsl(229, 6%, 66%);
    margin: 0;
  }
  .header .sub {
    font-weight: 600;
    font-size: 2rem;
    color: hsl(234, 12%, 34%);
    margin: 0;
  }


  .header p {
    display: inline-block;
    max-width: 60%;
    color: hsl(229, 6%, 66%);
    text-align: center;
  }

.skills-container h1 {
  margin-top: 20px;
  color: #000099;
  border-bottom: .5px solid rgb(255, 102, 0);
  border-bottom-length: 5px;
}
.skills-intro {
  width: 500px;
}
.skills-intro a {
  color: #000099;
  text-decoration: none;
  font-size: smaller;
}

p.lead {
  font-family: "lora-regular", sans-serif;
  font-size: 18px;
  line-height: 1.8;
  color: #888888;
  font-weight: 400;
  text-align: center;
}


  .features h3,
  p {
    max-width: 100%;
  }
  .features p {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .section-introheading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 50px;
  }
  h {
    font-size: larger;
  }

  .features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
 

  .features__middle {
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 250px;
  }

  .feature__supervisor {
    min-width: 280px;
     
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s ease;
  }
  .feature__supervisor:hover {
    cursor: pointer;
    
  }

  .feature__team {
    justify-self: center;
    min-width: 350px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s ease;
  }
  .feature__team:hover {
    cursor: pointer;
    
  }
  .feature__karma {
    justify-self: center;
    min-width: 280px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s ease;
  }
  .feature__karma:hover {
    cursor: pointer;
    
  }

  .feature__calculator {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s ease;
  }
  .feature__calculator:hover {
    cursor: pointer;
    
  }
.app-title {
  height: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.app-title h1 {
  color: rgb(3, 17, 29);
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}


.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  height: ;
  
  
  background-color: white;
  
}
.links-container a {
  text-decoration: none;
  color: black;
}

.links-container > div {
  flex: 1;
  text-align: center;
  
}
.links-container > div:hover {
  background: wheat;
}

.links-container > div:first-of-type {
  border-right: 2px solid rgba(134,140,151,.24);
}


.github-link,
.demo-link {
  margin: auto;
}




.projects {
  display: flex;
  flex-direction: column;
}

.projects-intro {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.projects-intro h1 {
  color: #000099;
}

.section-introheading h1 {
  color: #000099;
}

@media screen and (max-width: 800px) {
  .skills-cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
  }
  .features {
    display: flex;
    flex-direction: column;
  }
  .feature__team {
    width: 400px;
    margin-bottom: 30px;
  }
  .feature__supervisor {
    margin-bottom: 30px;
    
    width: 400px;

  }
  .features__middle {
    width: 400px;
    margin-left: 20px;
  }
  .feature__karma {
    width: 400px;
    margin-bottom: 30px;
  }
  .feature__calculator {
    width: 400px;
    margin-left: 0;
  }
  .card {
    height: 120px;
  }
  .card-list {
    margin-left: 80px;
  }
 
  .intro-content h5 {
    font-size: .7rem;
  }
  .intro-content h1 {
    font-size: 14px;
  }  
}

@media only screen and (max-width: 1024px) {
  .skills-intro {
    margin-right: 0;
    margin-left: 0;
  }
  .intro-content h1 {
    font-size: 10px;
  }
  
}

@media only screen and (max-width: 965px) {
  .features {
    display: flex;
    flex-direction: column;
  }
  .feature__team {
    width: 400px;
    margin-bottom: 30px;
  }
  .feature__supervisor {
    margin-bottom: 30px;
    
    width: 400px;

  }
  .features__middle {
    width: 400px;
    margin-left: 20px;
  }
  .feature__karma {
    width: 400px;
    margin-bottom: 30px;
  }
  .feature__calculator {
    width: 400px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .skills-intro .lead {
    padding-left: 3rem;
  }
  .intro-content {
    height: 300px;
  }
  p.lead {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .skills-intro {
    text-align: center;
    margin-top: 1rem;
    width: 450px;
  }
  .skills-intro .lead {
    padding-left: 0;
    text-align: center;
  }
  .intro-content {
    height: 300px;
  }
  .intro-content h1 {
    font-size: 50px;
  }
  p.lead {
    font-size: 18px;
  }
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: ;


}
.intro-content h1 {
  text-align: center;
	color: #FFFFFF;
	font-family: "poppins-medium", sans-serif;
	font-size: 80px;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h5 {
  text-align: center;
	color: rgb(255, 102, 0);
	font-family: "poppins-bold", sans-serif;
	font-size: 2.3rem;
  line-height: 1.565;
	margin-top: 50px;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro-content .intro-position {
  text-align: center;
	font-family: "lora-regular", serif;
	font-size: 1.3rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span {
	display: inline-block;
}
.intro-content .intro-position span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}

.intro-content .button {
	color: #FFFFFF !important;
	border-color: rgba(255, 255, 255, 0.3);
	height: 6rem !important;
	line-height: 5.4rem !important;
	padding: 0 3.5rem 0 3rem !important;
	margin-top: .6rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}
.intro-content .button:hover, .intro-content .button:focus {
	border-color: rgb(255, 102, 0);
}
.intro-content .button::after {
	display: inline-block;
	content: "\f107";
	font-family: fontAwesome;
	font-size: 1.6rem;
	line-height: inherit;
	text-align: center;
	position: relative;
	left: 1.2rem;
}
.social-list {
  display: flex;
  margin-top: 60px;
  font-size: 2.3rem;
  align-items: center;
  justify-content: center;
}
.intro-social {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 7.2rem;
	font-size: 2.3rem;
	margin: 0;
	padding: 0;
}
.social-list li {
	display: inline-block;
	margin-top: 0;
	padding: 0;
}
.social-list li a, .intro-social li a:visited {
	color: #FFFFFF;
}
.social-list li a:hover, .intro-social li a:focus {
	color: rgb(255, 102, 0);
}


.footer {
  display: flex;
  flex-direction: column;
  background-color: #2d314d;
  padding: 20px;
  width: 100vw;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 0;
}

@media screen and (max-width: 950px) {
  .footer .footer-social {
    
  }
}

@media screen and (max-width: 768px) {
  .footer .footer-social {
    margin-right: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
  }
}

.footer .footer-social__links {
  font-size: 14px;
}

.footer .footer-social__links ul {
  
  display: flex;
  flex-direction: row;

  list-style: none;
  justify-content: space-around;
}

.footer .footer-social__links li {
  margin-right: 10px;
}
.footer .footer-social__links a {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
}

.footer .footer-social__links a:last-child {
  margin-right: 0;
}

.footer .footer-social__links a:hover {
  border-bottom: .5px solid rgb(255, 102, 0);
}









.footer .footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .footer .footer-copyright {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
  }
}

.footer .footer-copyright span {
  font-size: 15px;
  color: #9698a6;
}

@media screen and (max-width: 768px) {
  .footer .footer-copyright span {
    margin-top: 30px;
  }
}
